<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/layout :: head('Inicio')}"> </head>
  <body>
    <nav th:replace="~{fragments/layout :: navbar('inicio')}"></nav>

    <section id="hero">
      <div class="container">
        <div class="hero-content">
          <h2>Aprende a patinar con los mejores</h2>
          <p>Escuela de patinaje en Santa Marta, Colombia</p>
          <a href="#inscripcion" class="btn">¡Inscríbete ahora!</a>
        </div>
      </div>
    </section>

    <footer th:replace="~{fragments/layout :: footer}"></footer>
  </body>
</html>
